html,body{
    height:100%;
}

input{
    margin: 20px;
    margin-right: 5px;
    width:1000px;
    height:50px;
    border-width:1px;
    border-radius: 5px;
    font-size: 15px;;
}
button{
    height:50px;
    width: 70px;
    background-color: rgb(135, 213, 255);
    border-width: 1px;
    border-radius: 5px;
    font-weight: 400;
}
