html, body{
    height: 100%;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    width:100px;
    height: 40px;;
    background-color: rgb(255, 253, 187);
    font-weight: 500;
    border-width:1px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containal{
    display: none;
    justify-content: center;
    align-items: center;
}
.modal{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

    border: 1px solid black;
    border-radius:5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    padding: 10px;

    width:350px;
    height:200px;
}

h2{
    margin-bottom:5px;
}